<div class="col-lg-3">
    <ul class="account-nav">
        <li><a asp-controller="account" asp-action="index" class="menu-link menu-link_us-s">Dashboard</a></li>
        <li><a asp-controller="order" asp-action="index" class="menu-link menu-link_us-s">Orders</a></li>
        <li><a asp-controller="address" asp-action="index" class="menu-link menu-link_us-s">Addresses</a></li>
        <li><a asp-controller="account" asp-action="edit" class="menu-link menu-link_us-s">Account Details</a></li>
        <li><a asp-controller="wishlist" asp-action="index" class="menu-link menu-link_us-s">Wishlist</a></li>
        <li><a asp-controller="account" asp-action="logout" class="menu-link menu-link_us-s">Logout</a></li>
    </ul>
</div>