@using EcommerceCoza.BLL.ViewModels
@model WishlistItemsViewModel

<main class="pt-90">
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
        <h2 class="page-title">Wishlist</h2>

        <form class="mb-4" onsubmit="return false;">
            <div class="d-flex gap-2 align-items-center" style="max-width:420px;">
                <input id="wishlistSearchInput"
                       class="form-control form-control-sm"
                       type="text"
                       placeholder="Search wishlist..." />
                <button type="button"
                        id="wishlistSearchBtn"
                        class="btn btn-outline-secondary btn-sm d-flex align-items-center justify-content-center px-2"
                        style="width:34px;height:34px;"
                        title="Search">
                    <svg width="16" height="16"><use href="#icon_search" /></svg>
                </button>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-12">
                <div class="page-content my-account__wishlist">
                    <div class="products-grid row row-cols-2 row-cols-lg-3" id="products-grid">
                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_5.jpg" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_5-1.jpg" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev">
                                            <svg width="7" height="11"><use href="#icon_prev_sm" /></svg>
                                        </span>
                                        <span class="pc__img-next">
                                            <svg width="7" height="11"><use href="#icon_next_sm" /></svg>
                                        </span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Colorful Jacket</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price">$29</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_6.jpg" width="330" height="400" alt="Shirt In Botanical Cheetah Print" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_6-1.jpg" width="330" height="400" alt="Shirt In Botanical Cheetah Print" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev"><svg width="7" height="11"><use href="#icon_prev_sm" /></svg></span>
                                        <span class="pc__img-next"><svg width="7" height="11"><use href="#icon_next_sm" /></svg></span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Shirt In Botanical Cheetah Print</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price">$62</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_7.jpg" width="330" height="400" alt="Cotton Jersey T-Shirt" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_7-1.jpg" width="330" height="400" alt="Cotton Jersey T-Shirt" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev"><svg width="7" height="11"><use href="#icon_prev_sm" /></svg></span>
                                        <span class="pc__img-next"><svg width="7" height="11"><use href="#icon_next_sm" /></svg></span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Cotton Jersey T-Shirt</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price">$17</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_8.jpg" width="330" height="400" alt="Zessi Dresses" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_8-1.jpg" width="330" height="400" alt="Zessi Dresses" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev"><svg width="7" height="11"><use href="#icon_prev_sm" /></svg></span>
                                        <span class="pc__img-next"><svg width="7" height="11"><use href="#icon_next_sm" /></svg></span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Zessi Dresses</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price price-old">$129</span>
                                        <span class="money price price-sale">$99</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_9.jpg" width="330" height="400" alt="Cropped Faux Leather Jacket" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_9-1.jpg" width="330" height="400" alt="Cropped Faux Leather Jacket" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev"><svg width="7" height="11"><use href="#icon_prev_sm" /></svg></span>
                                        <span class="pc__img-next"><svg width="7" height="11"><use href="#icon_next_sm" /></svg></span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Cropped Faux Leather Jacket</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price">$29</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="product-card-wrapper">
                            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                                <div class="pc__img-wrapper">
                                    <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_10.jpg" width="330" height="400" alt="Calvin Shorts" class="pc__img">
                                            </div>
                                            <div class="swiper-slide">
                                                <img loading="lazy" src="~/assets/images/products/product_10-1.jpg" width="330" height="400" alt="Calvin Shorts" class="pc__img">
                                            </div>
                                        </div>
                                        <span class="pc__img-prev"><svg width="7" height="11"><use href="#icon_prev_sm" /></svg></span>
                                        <span class="pc__img-next"><svg width="7" height="11"><use href="#icon_next_sm" /></svg></span>
                                    </div>
                                    <button class="btn-remove-from-wishlist" title="Remove">
                                        <svg width="12" height="12"><use href="#icon_close" /></svg>
                                    </button>
                                </div>
                                <div class="pc__info position-relative">
                                    <p class="pc__category">Dresses</p>
                                    <h6 class="pc__title">Calvin Shorts</h6>
                                    <div class="product-card__price d-flex">
                                        <span class="money price">$62</span>
                                    </div>
                                    <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                                        <svg width="16" height="16"><use href="#icon_heart" /></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="wishlistNoResults" class="text-center text-secondary fw-medium mt-4 d-none">
                        No matching items
                    </div>

                    <!-- Load More -->
                    <div class="text-center mt-3">
                        <button id="wishlistLoadMore" type="button" class="btn btn-outline-secondary btn-sm px-4">
                            Load More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script>
        (function () {
            const input = document.getElementById('wishlistSearchInput');
            const btn = document.getElementById('wishlistSearchBtn');
            const grid = document.getElementById('products-grid');
            const noResults = document.getElementById('wishlistNoResults');
            const loadMore = document.getElementById('wishlistLoadMore');

            if (!grid) return;

            const cards = Array.from(grid.querySelectorAll('.product-card-wrapper'));
            const initialVisible = 6;

            // Init hide beyond initialVisible
            function initHide() {
                if (cards.length <= initialVisible) {
                    loadMore.style.display = 'none';
                    return;
                }
                cards.forEach((c, i) => {
                    if (i >= initialVisible) {
                        c.classList.add('d-none');
                    }
                });
            }

            function showNextBatch(batchSize = 6) {
                const hidden = cards.filter(c => c.classList.contains('d-none'));
                hidden.slice(0, batchSize).forEach(c => c.classList.remove('d-none'));
                if (cards.filter(c => c.classList.contains('d-none')).length === 0) {
                    loadMore.style.display = 'none';
                }
            }

            function applyFilter() {
                const term = input.value.trim().toLowerCase();
                let visible = 0;

                if (term.length === 0) {
                    // Restore default collapsed view (keep already revealed items)
                    cards.forEach((c, i) => {
                        if (i < initialVisible || !c.classList.contains('d-none')) {
                            c.style.display = '';
                        } else {
                            c.style.display = 'none';
                        }
                    });
                } else {
                    // When searching, show all cards for matching
                    cards.forEach(c => c.style.display = '');
                }

                cards.forEach(card => {
                    if (term.length > 0) {
                        const title = card.querySelector('.pc__title')?.textContent.trim().toLowerCase() || '';
                        const category = card.querySelector('.pc__category')?.textContent.trim().toLowerCase() || '';
                        const match = title.includes(term) || category.includes(term);
                        card.style.display = match ? '' : 'none';
                        if (match) visible++;
                    } else {
                        if (card.style.display !== 'none') visible++;
                    }
                });

                if (noResults) {
                    noResults.classList.toggle('d-none', visible !== 0);
                }

                // Hide load more when searching
                if (loadMore) {
                    loadMore.style.display = term.length > 0 ? 'none' : (cards.filter(c => c.classList.contains('d-none')).length > 0 ? 'inline-block' : 'none');
                }
            }

            input?.addEventListener('input', applyFilter);
            btn?.addEventListener('click', applyFilter);
            loadMore?.addEventListener('click', () => showNextBatch());

            initHide();
        })();
    </script>
}